*{
    margin: 0;
    padding: 0;
}

#default img{
    margin-top: 10px;
    height: 100px;
    width: 100px;
}
ul, ol {
    list-style-type: disc; /* for ul */
    padding-left: 20px;
  }
  
  ol {
    list-style-type: decimal; /* for ol */
  }